

.contactForm {
  padding: 10rem 0;
  // border-top: 1px solid #97979715;
  // background: #fafafafe;

  @media (max-width: 480px) {
    padding: 3rem 0;
  }

  a {
    color: #8b5cf6;
    font-weight: 600;

  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: start;
  
  @media (max-width: 968px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.text {
  .title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    // font-family: var(--pt-serif);
    // color: #1a1a1a;
    
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
  
  .subtitle {
    font-size: 1.125rem;
    color: var(--text-secondary);
    margin-bottom: 2rem;
    line-height: 1.6;
  }
}

.benefits {
  .benefit {
    padding: 0.5rem 0;
    color: var(--text-secondary);
    font-weight: 500;
    color: #848484;
  }
}

.form {
  // background: #fff5;
  // background: transparent;
  // border: 1.5px solid rgba(0,0,0,0.1);
  // padding: 2rem 1.5rem;
  // border-radius: 10px;
  // box-shadow: var(--shadow);
  // background: var(--bg-gray);
  // border: 0.5px solid var(--border-gray);

  .formGroup {
    margin-bottom: 1.5rem;
    
    label {
      display: inline-flex;
      font-weight: 600;
      margin-bottom: 4px;
      // color: var(--text-primary);
      // opacity: 50%;
      font-size: 12px;
    }
    
    input, select {
      width: 100%;
      padding: 0.75rem 1rem;
      border: 1px solid var(--foreground);
      // border-radius: 3prem;
      font-size: 1rem;
      background: transparent !important;
      border: 1px solid #97979750;
      color: var(--foreground)  ;
      &:focus {
        outline: none;
        border-color: var(--primary-blue);
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
      }
    }
    textarea {
      width: 100%;
      min-height: 120px;
      padding: 0.75rem 1rem;
      border: 1px solid var(--border-gray);
      // border-radius: 0.5rem;
      font-size: 1rem;
      background: transparent !important;
      border: 1px solid #97979750;
      resize: vertical;
      color: var(--foreground);
      &:focus {
        outline: none;
        border-color: var(--primary-blue);
        box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
      }
    }
  }

  .formAlert {
    margin-bottom: 1rem;
    padding: 1rem;
    background: #e6fffa;
    border: 1px solid #b2f5ea;
    border-radius: 0.5rem;
    color: #2c7a7b;
    
    p {
      margin: 0;
      font-weight: 500;
    }
  }
}

.checkboxGroup {
  display: flex;
  // grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }
}

.checkbox {
  display: flex;
  // align-items: center;
  column-gap: 1rem;
  font-weight: normal;
  cursor: pointer;

  input {
    width: auto !important;
  }
}

.privacyNote {
  margin-top: 1.5rem;
  font-size: 0.775rem;
  color: #848484;
  // color: var(--text-secondary);
  // text-align: center;
}

.successMessage {
  text-align: center;
  background: white;
  padding: 4rem 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    color: var(--text-secondary);
    font-size: 1.125rem;
  }
}